<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <%- include("../partials/head") %>
    <link rel="stylesheet" href="../style/perguntar.css">
</head>

<body>
  <header>
    <%- include("../partials/headersemcad") %>
    <%- include("../partials/headercadastrado") %>
  </header>

  <form class="row">
    <div class="col-12 col-lg-8">
      <label id="texto-principal"> Tire sua dúvida</label>
      <textarea id="campo-perguntar" name="pergunta" class="textarea"
        placeholder="Digite sua pergunta aqui. (Para conseguir uma ótima resposta, descreva sua dúvida de forma simples e clara)"
        required> </textarea>
      <span class="alerta-text">Digite, pelo menos, 7 caracteres</span>
    </div>
    <div class="col-12">
      <select id="select-perguntar" name="categorias" required>
        <option value="" disabled selected hidden>Selecione a categoria</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Java">Java</option>
        <option value="CSS">CSS</option>
        <option value="HTML">HTML</option>
        <option value="Angular">Angular</option>
        <option value="C++">C++</option>
        <option value="Python">Python</option>
        <option value="PHP">PHP</option>
        <option value="TypeScript">TypeScript</option>
      </select>
      <span class="alerta-select">Selecione uma categoria</span>
    </div>
    <div class="col-12 mb-4 ">
      <button id="btn-enviar" onclick="cadastroPerguntas()" type="button" title="Enviar" disabled> Enviar</button>
    </div>
  </form>

  <div class="modal-perguntar">
    <h2 class="txt-modal-perg">
      Sua pergunta foi registrada!
      <br>
      Aguarde e em breve receberá sua resposta.
    </h2>
    <div class="botoes-perguntar">
      <button class="btn-modal2">
        <a href="/">Voltar para a Página Inicial</a>
      </button>
      <br>
      <button class="btn-modal2">
        <a href="/perguntar">Fazer outra pergunta</a>
      </button>
    </div>
  </div>

  <div class="modal-erro-pergunta">
    <button onclick="fecharModalErro()">X</button>
    <h1>Ocorreu um erro ao fazer sua pergunta!</h1>
    <p>Tente novamente mais tarde.</p>
  </div>

  <div>
    <%- include("../partials/modalfooter") %>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="../js/validacao/perguntar.js"></script>
  <script src="../js/fetch/perguntas/cadastroPerguntas.js"></script>
</body>

<footer>
  <%- include("../partials/footer") %>
</footer>

</html>